Repository cms-patatrack/cmssw, pull requests merged in 2018-06, with the labels that each got.

#73 Fix the length of the string buffer to accommodate the "new format" of the HCAL DetId
  DQM/HcalCommon/src/HashFunctions.cc
Labels: comparison-pending, dqm-pending, pending-signatures, tests-pending

#75 Fix deprecation warning in CUDAService
  HeterogeneousCore/CUDAServices/src/CUDAService.cc
  HeterogeneousCore/CUDAServices/test/testCUDAServiceDrv.cpp
Labels: comparison-pending, core-pending, pending-signatures, tests-pending

#74 Make the exclusive_scan asynchronous in PixelRecHits
  RecoLocalTracker/SiPixelRecHits/plugins/PixelRecHits.cu
Labels: comparison-pending, pending-signatures, reconstruction-pending, tests-pending

#77 Prototype for EventSetup data on GPUs
  CalibTracker/Records/interface/SiPixelGainCalibrationForHLTGPURcd.h
  CalibTracker/Records/src/SiPixelGainCalibrationForHLTGPURcd.cc
  CalibTracker/SiPixelESProducers/BuildFile.xml
  CalibTracker/SiPixelESProducers/interface/SiPixelGainCalibrationForHLTGPU.h
  CalibTracker/SiPixelESProducers/plugins/BuildFile.xml
  CalibTracker/SiPixelESProducers/plugins/SiPixelGainCalibrationForHLTGPUESProducer.cc
  CalibTracker/SiPixelESProducers/src/ES_SiPixelGainCalibrationForHLTGPU.cc
  CalibTracker/SiPixelESProducers/src/SiPixelGainCalibrationForHLTGPU.cc
  Configuration/StandardSequences/python/RawToDigi_cff.py
  EventFilter/SiPixelRawToDigi/plugins/BuildFile.xml
  EventFilter/SiPixelRawToDigi/plugins/SiPixelFedCablingMapGPU.cc
  EventFilter/SiPixelRawToDigi/plugins/SiPixelFedCablingMapGPU.h
  EventFilter/SiPixelRawToDigi/python/SiPixelRawToDigi_cfi.py
  HeterogeneousCore/CUDACore/interface/CUDAESProduct.h
  HeterogeneousCore/CUDAServices/interface/numberOfCUDADevices.h
  HeterogeneousCore/CUDAServices/src/numberOfCUDADevices.cc
  RecoLocalTracker/Configuration/python/RecoLocalTracker_cff.py
  RecoLocalTracker/SiPixelClusterizer/BuildFile.xml
  RecoLocalTracker/SiPixelClusterizer/interface/SiPixelFedCablingMapGPU.h
  RecoLocalTracker/SiPixelClusterizer/interface/SiPixelFedCablingMapGPUWrapper.h
  RecoLocalTracker/SiPixelClusterizer/plugins/BuildFile.xml
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelClusterizerBase.h
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.h
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelArrayBuffer.h
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelClusterHeterogeneousConverter.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelClusterProducer.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelClusterProducer.h
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigiHeterogeneousConverter.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelFedCablingMapGPUWrapperESProducer.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.h
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterHeterogeneous.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/siPixelRawToClusterHeterogeneousProduct.h
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizer_cfi.py
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersHeterogeneous_cfi.py
  RecoLocalTracker/SiPixelClusterizer/src/ES_SiPixelFedCablingMapGPUWrapper.cc
  RecoLocalTracker/SiPixelClusterizer/src/SiPixelFedCablingMapGPUWrapper.cc
  RecoLocalTracker/SiPixelRecHits/BuildFile.xml
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEFast.h
  RecoLocalTracker/SiPixelRecHits/plugins/PixelRecHits.cu
  RecoLocalTracker/SiPixelRecHits/plugins/PixelRecHits.h
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitHeterogeneous.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFast.cc
Labels: alca-pending, comparison-pending, core-pending, new-package-pending, operations-pending, pending-signatures, reconstruction-pending, tests-pending

#78 Add numberOfStreamsPerDevice configuration parameter to CUDAService
  HeterogeneousCore/CUDACore/src/GPUCuda.cc
  HeterogeneousCore/CUDAServices/interface/CUDAService.h
  HeterogeneousCore/CUDAServices/src/CUDAService.cc
  HeterogeneousCore/CUDAServices/test/BuildFile.xml
  HeterogeneousCore/CUDAServices/test/testCUDAService.cpp
  HeterogeneousCore/CUDAServices/test/test_main.cc
  HeterogeneousCore/CUDAServices/test/test_main.cpp
  HeterogeneousCore/Producer/test/testGPU_cfg.py
Labels: comparison-pending, core-pending, new-package-pending, pending-signatures, tests-pending

#83 Clean up `CAHitNtupletHeterogeneousEDProducer`
  RecoPixelVertexing/PixelTriplets/plugins/BuildFile.xml
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletHeterogeneousEDProducer.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitQuadrupletGeneratorGPU.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitQuadrupletGeneratorGPU.cu
  RecoPixelVertexing/PixelTriplets/plugins/CAHitQuadrupletGeneratorGPU.h
Labels: comparison-pending, pending-signatures, reconstruction-pending, tests-pending

#60 Riemann fit gpu
  Configuration/ProcessModifiers/python/riemannFitGPU_cff.py
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HeterogeneousCore/CUDAUtilities/interface/cudaCheck.h
  RecoPixelVertexing/PixelTrackFitting/interface/PixelTrackReconstructionGPU.h
  RecoPixelVertexing/PixelTrackFitting/interface/RiemannFit.h
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducer.cc
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducer.h
  RecoPixelVertexing/PixelTrackFitting/python/PixelTracks_cff.py
  RecoPixelVertexing/PixelTrackFitting/src/PixelTrackReconstruction.cc
  RecoPixelVertexing/PixelTrackFitting/src/PixelTrackReconstructionGPU.cc
  RecoPixelVertexing/PixelTrackFitting/src/PixelTrackReconstructionGPU_impl.cu
  RecoPixelVertexing/PixelTrackFitting/test/BuildFile.xml
  RecoPixelVertexing/PixelTrackFitting/test/testEigenGPU.cu
  RecoPixelVertexing/PixelTrackFitting/test/testEigenGPUNoFit.cu
  RecoPixelVertexing/PixelTrackFitting/test/test_common.h
Labels: comparison-pending, new-package-pending, operations-pending, pdmv-pending, pending-signatures, reconstruction-pending, tests-pending, upgrade-pending

#86 Fix CA GPU destructor also when allocateOnGPU() is not called.
  RecoPixelVertexing/PixelTriplets/plugins/CAHitQuadrupletGeneratorGPU.cu
  RecoPixelVertexing/PixelTriplets/plugins/CAHitQuadrupletGeneratorGPU.h
Labels: comparison-pending, pending-signatures, reconstruction-pending, tests-pending

#87 Various fixes and cleanup
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterHeterogeneous.cc
  RecoLocalTracker/SiPixelRecHits/plugins/PixelRecHits.cu
Labels: comparison-pending, pending-signatures, reconstruction-pending, tests-pending
