Repository cms-patatrack/cmssw, pull requests merged in 2020-11, with the labels that each got.

#566 Reduce code duplication in CPU and GPU modules
  HeterogeneousCore/CUDACore/interface/JobConfigurationGPURecord.h
  HeterogeneousCore/CUDACore/src/JobConfigurationGPURecord.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalMultifitParametersGPUESProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalMultifitParametersGPURecord.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalMultifitParametersGPURecord.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitParametersGPUESProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitParametersGPURecord.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitParametersGPURecord.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/test/testEcalRechitProducer_cfg.py
  RecoLocalCalo/HcalRecAlgos/interface/HcalConstants.h
  RecoLocalCalo/HcalRecAlgos/interface/PulseShapeFitOOTPileupCorrection.h
  RecoLocalCalo/HcalRecAlgos/interface/PulseShapeFunctor.h
  RecoLocalCalo/HcalRecAlgos/src/HcalRecoParamsWithPulseShapesGPU.cc
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
  RecoLocalCalo/HcalRecAlgos/src/PulseShapeFitOOTPileupCorrection.cc
  RecoLocalCalo/HcalRecAlgos/src/PulseShapeFunctor.cc
  RecoLocalCalo/HcalRecProducers/src/DeclsForKernels.h
  RecoLocalCalo/HcalRecProducers/src/HBHERecHitProducerGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HcalMahiPulseOffsetsGPUESProducer.cc
  RecoLocalCalo/HcalRecProducers/src/HcalMahiPulseOffsetsGPURecord.cc
  RecoLocalCalo/HcalRecProducers/src/HcalMahiPulseOffsetsGPURecord.h
  RecoLocalCalo/HcalRecProducers/src/KernelHelpers.h
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.cu
Labels: ECAL, HCAL

#563 Address ECAL review comments regarding python files
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHitGPU_cfi.py
  RecoLocalCalo/EcalRecProducers/test/ecalRawDecodingAndMultifit.py
Labels: ECAL

#569 Move common ESProducer templates to ConvertingESProducer(WithDependencies)T
  EventFilter/EcalRawToDigi/plugins/EcalRawESProducerGPU.h
  EventFilter/EcalRawToDigi/plugins/EcalRawESProducersGPUDefs.cc
  EventFilter/HcalRawToDigi/plugins/HcalESProducerGPUDefs.cc
  HeterogeneousCore/CUDACore/interface/ConvertingESProducerT.h
  HeterogeneousCore/CUDACore/interface/ConvertingESProducerWithDependenciesT.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalESProducerGPU.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalESProducersGPUDefs.cc
  RecoLocalCalo/HcalRecProducers/src/HcalESProducerGPU.h
  RecoLocalCalo/HcalRecProducers/src/HcalESProducersGPUDefs.cc
Labels: ECAL, HCAL, enhancement

#574 Update GPU HCAL conditions framework
  CondFormats/DataRecord/interface/HcalCombinedRecordsGPU.h
  CondFormats/DataRecord/src/HcalCombinedRecordsGPU.cc
  CondFormats/HcalObjects/BuildFile.xml
  CondFormats/HcalObjects/interface/HcalCombinedRecord.h
  CondFormats/HcalObjects/interface/HcalCombinedRecordsGPU.h
  CondFormats/HcalObjects/interface/HcalConvertedPedestalWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalConvertedPedestalsGPU.h
  CondFormats/HcalObjects/interface/HcalGainWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalGainsGPU.h
  CondFormats/HcalObjects/interface/HcalLUTCorrsGPU.h
  CondFormats/HcalObjects/interface/HcalPedestalWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalPedestalsGPU.h
  CondFormats/HcalObjects/interface/HcalQIECodersGPU.h
  CondFormats/HcalObjects/interface/HcalQIETypesGPU.h
  CondFormats/HcalObjects/interface/HcalRecoParamsGPU.h
  CondFormats/HcalObjects/interface/HcalRespCorrsGPU.h
  CondFormats/HcalObjects/interface/HcalSiPMCharacteristicsGPU.h
  CondFormats/HcalObjects/interface/HcalSiPMParametersGPU.h
  CondFormats/HcalObjects/interface/HcalTimeCorrsGPU.h
  CondFormats/HcalObjects/src/HcalConvertedPedestalWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalConvertedPedestalsGPU.cc
  CondFormats/HcalObjects/src/HcalGainWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalGainsGPU.cc
  CondFormats/HcalObjects/src/HcalLUTCorrsGPU.cc
  CondFormats/HcalObjects/src/HcalPedestalWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalPedestalsGPU.cc
  CondFormats/HcalObjects/src/HcalQIECodersGPU.cc
  CondFormats/HcalObjects/src/HcalQIETypesGPU.cc
  CondFormats/HcalObjects/src/HcalRecoParamsGPU.cc
  CondFormats/HcalObjects/src/HcalRespCorrsGPU.cc
  CondFormats/HcalObjects/src/HcalSiPMCharacteristicsGPU.cc
  CondFormats/HcalObjects/src/HcalSiPMParametersGPU.cc
  CondFormats/HcalObjects/src/HcalTimeCorrsGPU.cc
  RecoLocalCalo/HcalRecProducers/src/DeclsForKernels.h
  RecoLocalCalo/HcalRecProducers/src/HBHERecHitProducerGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HcalESProducersGPUDefs.cc
Labels: HCAL

#577 fix esConsumes for PR #31721
  EventFilter/SiPixelRawToDigi/plugins/SiPixelDigiErrorsFromSoA.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigisClustersFromSoA.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitCUDA.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitFromSOA.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromLegacy.cc
Labels: Pixels

#575 Address some pixel local reco PR review comments
  CUDADataFormats/Common/BuildFile.xml
  CUDADataFormats/Common/src/classes.h
  CUDADataFormats/Common/src/classes_def.xml
  CUDADataFormats/SiPixelCluster/interface/SiPixelClustersCUDA.h
  CUDADataFormats/SiPixelCluster/src/SiPixelClustersCUDA.cc
  CUDADataFormats/SiPixelDigi/interface/SiPixelDigiErrorsCUDA.h
  CUDADataFormats/SiPixelDigi/interface/SiPixelDigisCUDA.h
  CUDADataFormats/SiPixelDigi/src/SiPixelDigiErrorsCUDA.cc
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DHeterogeneous.h
  CUDADataFormats/TrackingRecHit/src/classes.h
  CUDADataFormats/TrackingRecHit/src/classes_def.xml
  DataFormats/SiPixelDigi/interface/PixelErrors.h
  DataFormats/SiPixelDigi/interface/SiPixelDigiErrorsSoA.h
  DataFormats/SiPixelDigi/interface/SiPixelDigisSoA.h
  DataFormats/SiPixelDigi/src/SiPixelDigiErrorsSoA.cc
  DataFormats/SiPixelDigi/src/SiPixelDigisSoA.cc
  DataFormats/SiPixelDigi/src/classes.h
  DataFormats/SiPixelDigi/src/classes_def.xml
  DataFormats/SiPixelRawData/interface/SiPixelErrorCompact.h
  DataFormats/SiPixelRawData/interface/SiPixelErrorsSoA.h
  DataFormats/SiPixelRawData/interface/SiPixelFormatterErrors.h
  DataFormats/SiPixelRawData/src/classes.h
  DataFormats/SiPixelRawData/src/classes_def.xml
  EventFilter/SiPixelRawToDigi/plugins/SiPixelDigiErrorsFromSoA.cc
  EventFilter/SiPixelRawToDigi/plugins/SiPixelDigiErrorsSoAFromCUDA.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigiHeterogeneousConverter.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.h
Labels: Pixels

#583 move to int32 for hit indices
  CUDADataFormats/Track/interface/PixelTrackHeterogeneous.h
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DSOAView.h
  RecoPixelVertexing/PixelTriplets/plugins/CAConstants.h
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.cu
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernelsImpl.h
Labels: Pixels
