Repository cms-patatrack/cmssw, pull requests merged in 2020-06, with the labels that each got.

#469 Add various options to cmsCudaRebuild.sh
  HeterogeneousCore/CUDAServices/scripts/cmsCudaRebuild.sh
Labels: enhancement

#472 Add customisations for profiling the ECAL-only workflow
  RecoLocalCalo/Configuration/python/customizeEcalOnlyForProfiling.py
Labels: ECAL

#462 Implement ECAL rechits on GPU
  CUDADataFormats/EcalRecHitSoA/interface/EcalRecHit_soa.h
  CUDADataFormats/EcalRecHitSoA/src/classes.h
  CUDADataFormats/EcalRecHitSoA/src/classes_def.xml
  RecoLocalCalo/EcalRecAlgos/bin/BuildFile.xml
  RecoLocalCalo/EcalRecAlgos/bin/makeEcalMultifitResultsGpuValidationPlots.cpp
  RecoLocalCalo/EcalRecAlgos/bin/makeEcalRechitValidationPlots.cpp
  RecoLocalCalo/EcalRecAlgos/interface/DeclsForKernels.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalIntercalibConstantsGPU.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalLaserAPDPNRatiosGPU.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalLaserAPDPNRatiosRefGPU.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalLaserAlphasGPU.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalLinearCorrectionsGPU.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalRechitADCToGeVConstantGPU.h
  RecoLocalCalo/EcalRecAlgos/interface/EcalRechitChannelStatusGPU.h
  RecoLocalCalo/EcalRecAlgos/src/AmplitudeComputationCommonKernels.cu
  RecoLocalCalo/EcalRecAlgos/src/AmplitudeComputationKernels.cu
  RecoLocalCalo/EcalRecAlgos/src/EcalIntercalibConstantsGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/EcalLaserAPDPNRatiosGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/EcalLaserAPDPNRatiosRefGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/EcalLaserAlphasGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/EcalLinearCorrectionsGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/EcalRecHitBuilderKernels.cu
  RecoLocalCalo/EcalRecAlgos/src/EcalRecHitBuilderKernels.h
  RecoLocalCalo/EcalRecAlgos/src/EcalRechitADCToGeVConstantGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/EcalRechitChannelStatusGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/KernelHelpers.cu
  RecoLocalCalo/EcalRecAlgos/src/KernelHelpers.h
  RecoLocalCalo/EcalRecAlgos/src/TimeComputationKernels.cu
  RecoLocalCalo/EcalRecProducers/BuildFile.xml
  RecoLocalCalo/EcalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/EcalRecProducers/plugins/EcalCPURecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalESProducersGPUDefs.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitConvertGPU2CPUFormat.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/python/ecalRecHitGPU_cfi.py
  RecoLocalCalo/EcalRecProducers/test/ecalRawDecodingAndMultifit.py
  RecoLocalCalo/EcalRecProducers/test/sourceFromRawCmggpu_cff.py
  RecoLocalCalo/EcalRecProducers/test/testEcalRechitProducer_cfg.py
  RecoLocalCalo/EcalRecProducers/test/testEcalUncalibRechitProducer_cfg.py
Labels: ECAL

#470 Update HCAL local reconstruction on GPUs
  CUDADataFormats/HcalDigi/src/classes.h
  CUDADataFormats/HcalDigi/src/classes_def.xml
  CUDADataFormats/HcalRecHitSoA/src/classes.h
  CUDADataFormats/StdDictionaries/BuildFile.xml
  CUDADataFormats/StdDictionaries/src/classes.h
  CUDADataFormats/StdDictionaries/src/classes_def.xml
  EventFilter/HcalRawToDigi/plugins/BuildFile.xml
  EventFilter/HcalRawToDigi/plugins/ElectronicsMappingGPU.h
  EventFilter/HcalRawToDigi/plugins/HcalCPUDigisProducer.cc
  EventFilter/HcalRawToDigi/plugins/HcalDigisProducerGPU.cc
  EventFilter/HcalRawToDigi/plugins/HcalESProducerGPUDefs.cc
  EventFilter/HcalRawToDigi/plugins/HcalRawESProducerGPU.h
  EventFilter/HcalRawToDigi/plugins/HcalRawToDigiGPU.cc
  RecoLocalCalo/HcalRecAlgos/interface/HcalCombinedRecord.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalCombinedRecordsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalConvertedEffectivePedestalWidthsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalConvertedEffectivePedestalsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalConvertedPedestalWidthsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalConvertedPedestalsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalGainWidthsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalGainsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalLUTCorrsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalPedestalWidthsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalPedestalsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalQIECodersGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalQIETypesGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalRecoParamsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalRecoParamsWithPulseShapesGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalRespCorrsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalSiPMCharacteristicsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalSiPMParametersGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalTimeCorrsGPU.h
  RecoLocalCalo/HcalRecAlgos/src/HcalCombinedRecordsGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HBHERecHitProducerGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HcalCPURecHitsProducer.cc
  RecoLocalCalo/HcalRecProducers/src/HcalESProducerGPU.h
  RecoLocalCalo/HcalRecProducers/src/HcalESProducersGPUDefs.cc
Labels: HCAL

#473 Enable ECAL rechits reconstruction on GPUs
  EventFilter/EcalRawToDigi/python/ecalDigis_cff.py
  RecoLocalCalo/Configuration/python/ecalLocalRecoSequence_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cff.py
Labels: ECAL

#476 Fix EE discrepancy in simulation
  EventFilter/EcalRawToDigi/src/UnpackGPU.cu
Labels: ECAL

#479 Clean up and fix the ECAL part of the customisation
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: ECAL, fixed

#481 Add a customisation for offloading the HCAL local reconstruction to GPUs
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: HCAL

#483 Fixing cuda crashes
  EventFilter/EcalRawToDigi/BuildFile.xml
  EventFilter/EcalRawToDigi/interface/EcalRegionCabling.h
  EventFilter/EcalRawToDigi/plugins/BuildFile.xml
  EventFilter/EcalRawToDigi/plugins/DeclsForKernels.h
  EventFilter/EcalRawToDigi/plugins/EcalCPUDigisProducer.cc
  EventFilter/EcalRawToDigi/plugins/EcalRawESProducerGPU.h
  EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc
  EventFilter/EcalRawToDigi/plugins/UnpackGPU.cu
  EventFilter/EcalRawToDigi/plugins/UnpackGPU.h
  EventFilter/HcalRawToDigi/plugins/DeclsForKernels.h
  EventFilter/HcalRawToDigi/plugins/ElectronicsMappingGPU.cc
  EventFilter/HcalRawToDigi/plugins/ElectronicsMappingGPU.h
  EventFilter/HcalRawToDigi/plugins/HcalESProducerGPUDefs.cc
  EventFilter/HcalRawToDigi/plugins/HcalRawToDigiGPU.cc
  RecoLocalCalo/EcalRecAlgos/src/inplace_fnnls.cu
  RecoLocalCalo/EcalRecAlgos/src/inplace_fnnls.h
  RecoLocalCalo/EcalRecProducers/plugins/AmplitudeComputationCommonKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/AmplitudeComputationCommonKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/AmplitudeComputationKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/AmplitudeComputationKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/EcalRecProducers/plugins/Common.h
  RecoLocalCalo/EcalRecProducers/plugins/DeclsForKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitBuilderKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitBuilderKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitConvertGPU2CPUFormat.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitConvertGPU2CPUFormat.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitMultiFitAlgo_gpu_new.cu
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitMultiFitAlgo_gpu_new.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/EigenMatrixTypes_gpu.h
  RecoLocalCalo/EcalRecProducers/plugins/KernelHelpers.cu
  RecoLocalCalo/EcalRecProducers/plugins/KernelHelpers.h
  RecoLocalCalo/EcalRecProducers/plugins/TimeComputationKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/TimeComputationKernels.h
  RecoLocalCalo/HcalRecProducers/src/DeclsForKernels.h
  RecoLocalCalo/HcalRecProducers/src/HBHERecHitProducerGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HcalCPURecHitsProducer.cc
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.cu
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.h
Labels: ECAL, HCAL

#485 Temporarily revert ECAL calibrated rechits on GPU
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: ECAL

#491 Fix warnings about unused variables in HCAL GPU code
  EventFilter/HcalRawToDigi/plugins/DecodeGPU.cu
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.cu
Labels: HCAL

#489 Remove dictionary definitions for classes already defined in CUDADataFormats/StdDictionaries
  CUDADataFormats/EcalRecHitSoA/src/classes_def.xml
  CUDADataFormats/HcalRecHitSoA/src/classes_def.xml
Labels: ECAL, HCAL

#495 Add tracking-only and pixel tracking-only workflows for Run 3 (#30338)
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: Pixels, backport
