Repository cms-patatrack/cmssw, pull requests merged in 2020-12, with the labels that each got.

#586 Simplify cudacompat layer to use a 1-dimensional grid
  HeterogeneousCore/CUDAUtilities/interface/cudaCompat.h
  HeterogeneousCore/CUDAUtilities/src/cudaCompat.cc
  RecoLocalTracker/SiPixelClusterizer/test/gpuClustering_t.h
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromLegacy.cc
  RecoPixelVertexing/PixelVertexFinding/plugins/gpuVertexFinderImpl.h
  RecoPixelVertexing/PixelVertexFinding/test/VertexFinder_t.h
Labels: Pixels, bug-fix

#591 Implement comments for Patatrack integration - ECAL local reconstruction (7/N) #31719
  CUDADataFormats/EcalRecHitSoA/src/classes_def.xml
  EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc
  EventFilter/EcalRawToDigi/plugins/UnpackGPU.cu
  RecoLocalCalo/EcalRecProducers/plugins/AmplitudeComputationCommonKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/AmplitudeComputationKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/Common.h
  RecoLocalCalo/EcalRecProducers/plugins/DeclsForKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalCPURecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalCPUUncalibRecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalMultifitParametersGPUESProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitBuilderKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitBuilderKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitConvertGPU2CPUFormat.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitParametersGPUESProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitConvertGPU2CPUFormat.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitMultiFitAlgo_gpu_new.cu
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/KernelHelpers.cu
  RecoLocalCalo/EcalRecProducers/plugins/TimeComputationKernels.cu
  RecoLocalCalo/EcalRecProducers/python/ecalRecHitGPU_cfi.py
Labels: ECAL

#592 Do not use the ECAL calibrated rechits from the GPU workflow
  RecoLocalCalo/Configuration/python/ecalLocalRecoSequence_cff.py
Labels: ECAL, bug-fix

#602 Clean up the pixel local reconstruction code
  CUDADataFormats/Common/src/classes_def.xml
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DHeterogeneous.h
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DSOAView.h
  CalibTracker/SiPixelESProducers/interface/SiPixelROCsStatusAndMappingWrapper.h
  CalibTracker/SiPixelESProducers/src/SiPixelROCsStatusAndMappingWrapper.cc
  CondFormats/SiPixelObjects/interface/SiPixelROCsStatusAndMapping.h
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEFast.h
  RecoLocalTracker/SiPixelRecHits/interface/pixelCPEforGPU.h
  RecoLocalTracker/SiPixelRecHits/plugins/gpuPixelRecHits.h
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFast.cc
  RecoPixelVertexing/PixelTriplets/plugins/gpuPixelDoubletsAlgos.h
Labels: Pixels
